.inputError {
    border-bottom: 2px var(--red) solid;
    transition: all 0.4s ease;
}

.inputNormal {
    border-bottom: 2px transparent solid;
    transition: all 0.4s ease;
}

.inputCorrect {
    border-bottom: 2px var(--green) solid;
    transition: all 0.4s ease;
}

.inputRepeat {
    border-bottom: 2px var(--yellow) solid;
    transition: all 0.4s ease;
}