<div class="w-1/2">
  <div class="flex justify-center items-center">
    <app-hexagon [onPress]="onPress" [letter]="letters[1]"></app-hexagon>
    <app-hexagon [onPress]="onPress" [letter]="letters[2]"></app-hexagon>
  </div>
  <div class="-translate-y-4 flex justify-center">
    <app-hexagon [onPress]="onPress" [letter]="letters[3]"></app-hexagon>
    <app-hexagon [onPress]="onPress" [letter]="letters[0]" color="text-yellow-300"></app-hexagon>
    <app-hexagon [onPress]="onPress" [letter]="letters[4]"></app-hexagon>
  </div>
  <div class="-translate-y-8 flex justify-center">
    <app-hexagon [onPress]="onPress" [letter]="letters[5]"></app-hexagon>
    <app-hexagon [onPress]="onPress" [letter]="letters[6]"></app-hexagon>
  </div>
</div>
